.item{
	font-size: 40px;
	padding: 0px 5px;
	width: 45px;
	height: 45px;
}

.gridster{
	width: 960px;
	height: 500px;
	margin: 0 auto;
	border: 1px dashed black;
}

.inner{
	padding: 0px;
	margin: 0px !important;
}

li{
	list-style-type: none;
	border: 1px solid black;
	text-align: center;
}

.hidden{
	display: none !important;
}