.item{
	font-size: 40px;
}

.gridster{
	width: 960px;
	height: 500px;
	margin: 0 auto;
	border: 1px dashed black;
}

.inner{
	padding: 0px;
}

li{
	list-style-type: none;
	border: 1px solid black;
	text-align: center;
}